@font-face {
  font-family: daxot-reg;
  src: url("../fonts/DaxOT.64d7d35f1958.eot");
  src: url("../fonts/DaxOT.d41429a393fa.woff") format('woff'), url("../fonts/DaxOT.7550b8cb1d87.ttf") format('truetype'), url("../fonts/DaxOT.990b934d9d42.svg") format('svg')
  font-weight: normal;
  font-style: normal;
}


* {
  box-sizing: border-box;
}

#myInput {
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 12px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  padding: 12px 20px 12px 12px;
  text-decoration: none;
  font-size: 16px;
  color: black;
  display: block
}
