* {
  box-sizing: border-box;
}

#myInput {
  width: 100%;
  font-size: medium;
  padding: 12px 20px 12px 12px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: none;
  border-bottom: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  padding: 12px 20px 12px 12px;
  text-decoration: none;
  font-size: medium;
  color: black;
  display: block
}

@media only screen and (max-width: 600px) {
  #myInput {
    font-size: 19px;
  }
}

textarea:focus, input:focus{
  outline: none;
}
