{% extends 'base.html' %}
{% load static from staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'music/css/home.css' %}">
{% endblock %}

{% block content %}
<form id='search' class='m-3'" method='post'>
  {% csrf_token %}
  <input autocomplete="off" name='q' value="{{ q }}" type="text" id="myInput" placeholder="Search">
</form>

<ul id='myUL'>
  {% for result in results %}
  <li style='cursor: pointer;'><a href='{% url "song" result.id result.title %}' style='color: gray;'>{{ result.title }}</a></li>
  {% endfor %}
</ul>
{% endblock %}
