{% extends 'base.html' %}
{% load static from staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'music/css/dinesh_home.css' %}">
{% endblock %}

{% block content %}
<form id='search' class='m-3'" method='post'>
  {% csrf_token %}
  <input name='q' value="{{ q }}" type="text" id="myInput" placeholder="Search">
</form>

<ul id='myUL'>
  {% for result in results %}
  <li style='cursor: pointer;' onclick="toggle(this, event)" data-id="{{ result.id }}"><audio preload="auto"></audio><a href='' style='color: gray;'>{{ result.title }}</a>
  {% endfor %}
</ul>
{% endblock %}

{% block js %}
<script src="{% static 'music/js/main.js' %}"></script>
{% endblock %}
