{% extends 'base.html' %}
{% block style %}
<style type="text/css">
  input[type=text], input[type=email], input[type=password], select {
    width: 100%;
    padding: 12px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid;
    border-radius: 0px;
    box-sizing: border-box;
    margin-bottom: 16px;
    font-size: inherit;
  }
  input[type=submit] {
    font-size: inherit;
    width: 100%;
    padding: 14px 20px;
    margin-top: 20px;
    border: 1px solid;
    border-radius: 0px;
    cursor: pointer;
    background: white;
  }
</style>
{% endblock %}


{% block subhead %}
<h3 style='display: inline;'><a style='color: gray; margin-right: 18px;' href='{% url "index" %}'>Home</a></h3>
<h3 style='display: inline;'><a style='color: gray; margin-right: 18px;' href='{% url "signin" %}'>Signin</a></h3>
{% endblock %}


{% block content %}
<h2>Signup Form</h2>
<div>
  <form action="" method='post'>
    {% csrf_token %}
    <label for="username">Username</label>
    <input type="text" id="username" name="username" placeholder="Enter username.." required>

    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="Enter email.." required>

    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Enter password.." required>

    <input type="submit" value="SUBMIT">
  </form>
</div>
{% endblock %}
